<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dojo Form</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form class="dojo" action="/result" method="post">
            <!-- <h1>Registration Form</h1> -->
            <table>
                <tr>
                    <td><label for="name">Your Name:</label></td>
                    <td><input type="text" class="intext" name="name" value=""></td>
                </tr>

                <tr>
                    <td><label for="location">Dojo Location:</label></td>
                    <td>
                        <select class="intext" name="location">
                            <option value="Orange County">Orange County</option>
                            <option value="Los Angeles">Los Angeles</option>
                            <option value="New York">New York</option>
                            <option value="San Jose">San Jose</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td><label for="favorite">Favorite Language:</label></td>
                    <td>
                        <select class="intext" name="favorite">
                            <option value="JavaScript">Javascript</option>
                            <option value="Python">Python</option>
                            <option value="PHP">PHP</option>
                            <option value="Ruby">Ruby</option>
                            <option value="Perl">Perl</option>
                            <option value="C++">C++</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"><label for="comments">Comments (Optional):</label></td>
                </tr>

                <tr>
                    <td colspan="2">
                        <textarea name="comments"></textarea>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td id="goNow"><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
    </body>
</html>
