<!DOCTYPE html>
<html lang="en">
    <head>
        <title>information</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <main>
            <h1>Submitted Information</h1>
            <table>
                <tr>
                    <td>Name:</td>
                    <td>{{ name }}</td>
                </tr>
                <tr>
                    <td>Dojo Location:</td>
                    <td>{{ local }}</td>
                </tr>
                <tr>
                    <td>Favorite Language:</td>
                    <td>{{ favLang }}!!!</td>
                </tr>
                <tr>
                    <td>Comments:</td>
                    <td>{{ comment }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="button" name="button"><a href="/">Go Back</a></button></td>
                </tr>
            </table>
        </main>
    </body>
</html>
